# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Données volumineuses (à partager hors Git si besoin)
data/*.csv

# Artefacts générés
models/*.joblib
models/*.json
reports/figures/*
reports/metrics/*
!reports/figures/.gitkeep
!reports/metrics/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
